.stuff{
	font-family:"Arial",sans-serif;
	color:white;
}
.wholepage{
	background-image:url('https://static.pexels.com/photos/4164/landscape-mountains-nature-mountain.jpeg');
	padding:100px;
}
.container{
	font-family:"Arial",sans-serif;
	color:white;
	font-size:15px;
}


h1.indextitle{
	font-size:30px;
	color:white;
	font-family:"Times New Roman",sans-serif;
}

.jumbotron {
    ...
    min-width: 100px;
}